{% extends "admin_base.html" %}

{% block title %}Customer View{% endblock %}
{% block content %}

<div class="container">
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in data %}
        <tr>
            <td>{{ user.first_name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
{% endblock %}